body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

.todo-app {
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  background: dfdfdf;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
